@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Matiz";
  src: url("/Matiz.ttf")format("truetype"),
}

@font-face {
  font-family: "Dharma Gothic E";
  src: url("/DharmaGothicE.otf")format("opentype"),
}


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.darma-e {
  font-family: "Matiz", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: "Matiz", sans-serif;
  letter-spacing: 0.05rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wrapper {
    @apply px-5 lg:px-10 xl:px-14 2xl:px-20;
    width: 100%;

    max-width: calc(109rem + (160rem / 16));
    margin: 0 auto;
  }
}

.class-box {
  @apply leading-none uppercase font-black;

  box-shadow: -24px 28px 0px #7200FF;
}

.class {
  @apply leading-none uppercase font-black;
  font-size: 10rem;
  color: #FF0072;
  text-shadow: -12px 12px 0px #00F2FF;
}

.timer-box {
  background: #FF0072;
  box-shadow: -10px 10px 0px #00F2FF;
}

input:-webkit-autofill {
  background: transparent;
}

.text-stroke {
  letter-spacing: -0.02em;
  text-shadow: rgb(34, 36, 42) 2px 0px 0px, rgb(34, 36, 42) 1.75517px 0.958851px 0px, rgb(34, 36, 42) 1.0806px 1.68294px 0px, rgb(34, 36, 42) 0.141474px 1.99499px 0px, rgb(34, 36, 42) -0.832294px 1.81859px 0px, rgb(34, 36, 42) -1.60229px 1.19694px 0px, rgb(34, 36, 42) -1.97998px 0.28224px 0px, rgb(34, 36, 42) -1.87291px -0.701566px 0px, rgb(34, 36, 42) -1.30729px -1.5136px 0px, rgb(34, 36, 42) -0.421592px -1.95506px 0px, rgb(34, 36, 42) 0.567324px -1.91785px 0px, rgb(34, 36, 42) 1.41734px -1.41108px 0px, rgb(34, 36, 42) 1.92034px -0.558831px 0px;
}

@media (min-width:1024px) {
  .text-stroke {
    text-shadow: rgb(34, 36, 42) 2px 0px 0px, rgb(34, 36, 42) 1.75517px 0.958851px 0px, rgb(34, 36, 42) 1.0806px 1.68294px 0px, rgb(34, 36, 42) 0.141474px 1.99499px 0px, rgb(34, 36, 42) -0.832294px 1.81859px 0px, rgb(34, 36, 42) -1.60229px 1.19694px 0px, rgb(34, 36, 42) -1.97998px 0.28224px 0px, rgb(34, 36, 42) -1.87291px -0.701566px 0px, rgb(34, 36, 42) -1.30729px -1.5136px 0px, rgb(34, 36, 42) -0.421592px -1.95506px 0px, rgb(34, 36, 42) 0.567324px -1.91785px 0px, rgb(34, 36, 42) 1.41734px -1.41108px 0px, rgb(34, 36, 42) 1.92034px -0.558831px 0px;
  }
}